<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height=30 width=41></span>
  <a mat-button routerLink='/home'><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink='/shirts'><span class="fa fa-list fa-lg"></span> Shirts</a>
  <a mat-button routerLink='/pants'><span class="fa fa-list fa-lg"></span> Pants</a>
  <a mat-button routerLink='/dresses'><span class="fa fa-list fa-lg"></span> Dresses</a>
  <a mat-button routerLink='/accessories'><span class="fa fa-list fa-lg"></span> Accessories</a>
  <a mat-button routerLink='/contactus'><span class="fa fa-sign-in fa-lg"></span> Contact Us</a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()">
    <span class="fa fa-sign-in fa-lg"></span>Login
  </a>
</mat-toolbar>

<br>


  <div>

  <div>
    <img src="/assets/images/logo.png" alt="Logo" height=300px width=300px class="center">
  </div>

</div>