<div class="container"
fxLayout="column"
fxLayoutGap="10px">
<div fxFlex>
   <div>
     <h2>Welcome to SDK-Clothing</h2>
     <br>
     <p><strong>SDK</strong> is a domestic clothing company based in South Dakota. We specialize in trendy business wear that is high quality and suitable for young professionals at resonable prices.</p>
     <p>If normal business wear makes you feel uncomfortable and old-fashioned, and you want to wear something that shows your personality and your taste of fashion, then look no further than SDK's products.</p>
     <hr>
     <span><img src="/assets/images/SDKFRONT.jpg" height=1000px width=1200px class="center"></span>
   </div>
 </div>
 
</div>

<body>
 
</body>

